<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/team2/css/team2_header.css">
	<link rel="stylesheet" type="text/css" href="/team2/css/team2_main.css">
	<title>採点詳細画面</title>
</head>
<body>
	<header th:replace="~{team2/kyoutu/team2_header :: header}"></header>
	<h1>採点詳細画面</h1>
	<a th:href="@{/team2/answers}">
		<button type="button">戻る</button>
	</a>

	
	<p>回答日：<span th:text="${#temporals.format(answer.createdAt, 'yyyy年MM月dd日')}"></span></p>
	<p>分野：<span th:text="${answer.question.field.fieldName}"></span></p>
	<p>学習名：<span th:text="${answer.question.studyName}"></span></p>
	<p>問題形式：<span th:text="${answer.question.questionType}"></span></p>
	<p>問題文：<span th:text="${answer.question.questionText}"></span></p>
	<p>選択肢A：<span th:text="${answer.question.choiceA}"></span></p>
	<p>選択肢B：<span th:text="${answer.question.choiceB}"></span></p>
	<p>選択肢C：<span th:text="${answer.question.choiceC}"></span></p>
	<p>選択肢D：<span th:text="${answer.question.choiceD}"></span></p>
	<p>正解：<span th:text="${answer.question.correctAnswer}"></span></p>
	<p>解説：<span th:text="${answer.question.explanation}"></span></p>
	<p>あなたの回答：<span th:text="${answer.userAnswer}"></span></p>
	
	<span th:if="${answer.isCorrect == 1}">結果：正解</span>
	<span th:if="${answer.isCorrect == 0}">結果：不正解</span>
	
	<a th:href="@{/team2/questions/{id}/answer(id=${answer.question.questionId})}">
		<button type="button">もう一度回答する</button>
	</a>
	
</body>
</html>