.logs-create-wrapper {
	max-width: 800px;
	margin: 0 auto;
}

.form-row {
	display: grid;
	grid-template-columns: 150px 1fr;
	margin-bottom: 15px;
}


.form-control-area {
	width: 100%;
}

.form-row .form-label {
	margin: 20px 0 0;
	font-size: 18px;
}

.time-area {
	display: flex;
	align-items: center;
	gap: 15px;
	flex-wrap: wrap;
}

.time-input {
	width: 120px;
	height: 56px;
	padding: 18px;
	border: 1px solid #cfcfcf;
	border-radius: 8px;
	outline: none;
}


.time-input:focus {
	border-color: #0b1f3a;
}

.submit-area {
	margin-left: 50px;
	margin-right: 50px;
}

.submit-area input[type="submit"] {
	margin-top: 4px;
}