<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="/team2/css/team2_error.css">
<title>
エラー
</title>
</head>
<body>
   <header class="header">
        <span class="title">Study Log</span>

        <div class="right-area">
            <span class="name">〇〇さん</span>
            <img src="user.png" alt="ヘッダー画像" height="50px" width="50px" >
        </div>  
   </header>

   <div class="error_sign">
        <img src="error.png" alt="エラー画像" height="144px" width="144px">
        <h3 class="error_red">データ取得失敗</h3>
        <h4 class="error_msg">データの取得に失敗しました。再度実行して下さい。</h4>
        <input class="return" type="submit" value="戻る" />
   </div>

   

   
</body>
</html>