<!doctype html>
<html xmlns:th="http://www.thymeleaf.ofg">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" th:href="@{/team2/css/team2_header.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/team2/css/team2_main.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/team2/css/team2_error.css}">
	<title>
		Study Log - エラー
	</title>
</head>

<body>
	<header th:replace="~{team2/kyoutu/team2_header :: header}"></header>

	<div class="error_sign">
		<img th:src="@{/team2/img/team2_error.png}" alt="エラー画像" height="144px" width="144px">

		<h3 class="error_red">エラーが発生しました</h3>

		<h4 class="error_msg">
			処理中にエラーが発生しました。もう一度操作してください。
		</h4>

		<button type="button" onclick="history.back()">前のページへ戻る</button>
	</div>
</body>

</html>