<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.ofg">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/team2/css/team2_header.css">
	<title>学習記録登録画面</title>
</head>


<body>
	<header th:replace="~{team2/kyoutu/team2_header :: header}"></header>
	<h1>学習記録登録画面</h1>
	<a th:href="@{/team2/home}">
		<button type="button">戻る</button>
	</a>

	<form method="post" th:action="@{logs/create}" th:object="${team2StudyLogForm}">
		
		<!-- 分野名 -->
		<select name="studyField">
			<option value="人間力" selected="selected">人間力</option>
			<option value="技術力" selected="selected">技術力</option>
			<option value="資格" selected="selected">資格</option>
			<option value="その他" selected="selected">その他</option>
		</select>
		
		<!-- 学習名 -->
		<span th:text="学習日"></span>
		
		<!-- 学習名 -->
		
		<!-- 学習時間 -->
		<th:block th:text="学習時間"></th:block>
		<br>
		<input type="submit" value="記録">
	</form>
</body>

</html>