<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.ofg">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" th:href="@{/team2/css/team2_header.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/team2/css/team2_main.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/team2/css/team2_home.css}">
	<title>study log - ホーム</title>
</head>

<body>
	<header th:replace="~{team2/kyoutu/team2_header :: header}"></header>

	<div class="page-wrapper home-wrapper">

		<h1 class="home-title" th:text="'ようこそ！ ' + ${session.userName} + ' さん'"></h1>
		<p class="home-message" th:text="学習を記録、共有して資格合格を目指しましょう！"></p>

		<div class="home-menu">

			<a th:href="@{/team2/profile}" class="home-menu-card">
				<span class="home-menu-text" th:text="プロフィール"></span>
			</a>

			<a th:href="@{/team2/logs}" class="home-menu-card">
				<span class="home-menu-text" th:text="タイムライン"></span>
			</a>

			<a th:href="@{/team2/logs/create}" class="home-menu-card">
				<span class="home-menu-text" th:text="学習記録登録"></span>
			</a>

			<a th:href="@{/team2/questions}" class="home-menu-card">
				<span class="home-menu-text" th:text="問題一覧"></span>
			</a>

			<a th:href="@{/team2/answers}" class="home-menu-card">

				<span class="home-menu-text" th:text="採点結果一覧"></span>
			</a>

		</div>

	</div>

</body>

</html>