<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.ofg">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/team2/css/team2_header.css">
	<title>ホーム画面</title>
</head>

<body>
	<header th:replace="~{team2/kyoutu/team2_header :: header}"></header>
	<h3>ようこそ！<span th:text="${team2LoginForm.loginId}"></span>さん！</h3>
	<p th:text="学習を記録、共有して資格合格を目指しましょう！"></p>
	<form th:action="@{/team2/logout}" method="post">
		<button type="submit">ログアウト</button>
	</form>
	
	<a th:href="@{/team2/profile}">
		<button type="button">プロフィール</button>
	</a>

	<a th:href="@{/team2/logs}">
		<button type="button">タイムライン</button>
	</a>

	<a th:href="@{/team2/logs/create}">
		<button type="button">新規学習記録登録</button>
	</a>


	<a th:href="@{/team2/questions}">
		<button type="button">問題一覧</button>
	</a>

	<a th:href="@{/team2/answers}">
		<button type="button">採点結果一覧</button>
	</a>



	<!--
	<h4>現在登録されているuser一覧</h4>
	<table border="1">
		<tr>
			<td>ユーザID</td>
			<td>ログインID</td>
			<td>パスワード</td>
			<td>ユーザ名</td>
			<td>登録日時</td>
		</tr>
		<tr th:each="user : ${users}">
			<td th:text="${user.userId}"></td>
			<td th:text="${user.loginId}"></td>
			<td th:text="${user.password}"></td>
			<td th:text="${user.userName}"></td>
			<td th:text="${user.createdAt}"></td>
		</tr>
	</table>
	-->

</body>

</html>