<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.ofg">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" th:href="@{/team2/css/team2_header.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/team2/css/team2_main.css}">
	<title>study log - ユーザ登録</title>
</head>

<body>
	<header th:replace="~{team2/kyoutu/team2_header :: header}"></header>

	<div class="page-wrapper">

		<h1 class="page-title">ユーザ新規登録</h1>

		<div class="form-card">

			<p th:if="${errorMessage}" th:text="${errorMessage}"></p>
			
			<form method="post" th:action="@{/team2/register}" th:object="${team2RegisterForm}">
				
				<span class="form-label" th:text="ログインID"></span>
				<input type="text" th:field="*{loginId}" class= "form-input" placeholder="ID" />
				<span th:if="${#fields.hasErrors('loginId')}" th:errors="*{loginId}" class="form-error"></span>
				
				<span class="form-label" th:text="パスワード"></span>
				<input type="password" th:field="*{password}" class= "form-input" placeholder="パスワードを入力" />
				<span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="form-error"></span>
				
				<span class="form-label" th:text="パスワード（確認）"></span>
				<input type="password" th:field="*{confirmPassword}" class= "form-input" placeholder="パスワードを再入力" />
				<span th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}" class="form-error"></span>
				<span th:if="${confirmPasswordError}" th:text="${confirmPasswordError}" class="form-error"></span>
				
				<span class="form-label" th:text="ユーザ名"></span>
				<input type="text" th:field="*{userName}" class= "form-input" placeholder="ユーザ名を入力" />
				<span th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}" class="form-error"></span>
				
				<input type="submit" value="登録" class="btn btn-primary" />
			</form>
			
			<div class="center-link">
				<a href="@{/team2/login}">すでにアカウントをお持ちの方はこちら</a>
			</div>

		</div>
	</div>
</body>

</html>