<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.ofg">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/team2/css/team2_header.css">
	<link rel="stylesheet" type="text/css" href="team2/css/team2_style.css">
	<title>パスワード変更</title>
</head>

<body>
	<header th:replace="~{team2/kyoutu/team2_header :: header}"></header>
	<h1>パスワード変更</h1>
	<a th:href="@{/team2/profile}">
		<button type="button">戻る</button>
	</a>

	<form method="post" th:action="@{/team2/profile/password}" th:object="${team2PasswordEditForm}">
		
		<h4>現在のパスワード</h4>
		<input type="password" th:field="*{currentPassword}">
		<span th:if="${#fields.hasErrors('currentPassword')}" th:errors="*{currentPassword}"></span>
		<span th:text="${currentPasswordError}"></span>
		
		<h4>新しいパスワード</h4>
		<input type="password" th:field="*{newPassword}">
		<span th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}"></span>
		
		<h4>新しいパスワード（確認）</h4>
		<input type="password" th:field="*{confirmPassword}">
		<span th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"></span>
		<span th:text="${confirmPasswordError}"></span>
		
		<br><br>
		<input type="submit" value="変更する">
	</form>

</body>

</html>