<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.ofg">

<head>
	<meta charset="UTF-8">
	
	<link rel="stylesheet" type="text/css" th:href="@{/team2/css/team2_header.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/team2/css/team2_main.css}">
		<link rel="icon" type="image/png" th:href="@{/team2/img/team2_favicon.png}">
	<title>Study Log - ログイン</title>
</head>

<body>

	<header th:replace="~{team2/kyoutu/team2_header :: header}"></header>

	<div class="page-wrapper">

		<h1 class="page-title">ログイン</h1>

		<div class="form-card">
			
			<div class="success-message" th:if="${successMessage}" th:text="${successMessage}"></div>

			<p th:if="${errorMessage}" th:text="${errorMessage}" class="form-error"></p>
			<form method="post" th:action="@{/team2/login}" th:object="${team2LoginForm}">

				<span class="form-label" th:text="ログインID"></span>
				<input type="text" th:field="*{loginId}" class="form-input" placeholder="ログインIDを入力" />
				<span th:if="${#fields.hasErrors('loginId')}" th:errors="*{loginId}" class="form-error"></span>

				<span class="form-label" th:text="パスワード"></span>
				<input type="password" th:field="*{password}" class="form-input"  placeholder="パスワードを入力"/>
				<span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="form-error"></span>

				<input type="submit" value="ログイン" class="btn btn-primary" />
			</form>
			
			<div class="center-link">
				<a th:href="@{/team2/register}">新規登録はこちら</a>
			</div>
		</div>
	</div>
</body>

</html>