<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/team2/css/team2_header.css">
	<link rel="stylesheet" type="text/css" href="/team2/css/team2_main.css">
	<title>問題詳細画面</title>
</head>
<body>
	<header th:replace="~{team2/kyoutu/team2_header :: header}"></header>
	<h1>問題詳細画面</h1>
	<a th:href="@{/team2/questions}">
		<button type="button">戻る</button>
	</a>

	<p>作成者：<span th:text="${question.user.userName}"></span></p>
	<p>作成日：<span th:text="${#temporals.format(question.createdAt, 'yyyy年MM月dd日')}"></span></p>
	<p>分野：<span th:text="${question.field.fieldName}"></span></p>
	<p>学習名：<span th:text="${question.studyName}"></span></p>
	<p>問題形式：<span th:text="${question.questionType}"></span></p>
	<p>問題文：<span th:text="${question.questionText}"></span></p>
	<p>選択肢A：<span th:text="${question.choiceA}"></span></p>
	<p>選択肢B：<span th:text="${question.choiceB}"></span></p>
	<p>選択肢C：<span th:text="${question.choiceC}"></span></p>
	<p>選択肢D：<span th:text="${question.choiceD}"></span></p>
	<p>解答：<span th:text="${question.correctAnswer}"></span></p>
	<p>解説：<span th:text="${question.explanation}"></span></p>
	
	<a th:href="@{/team2/questions/{id}/edit(id=${question.questionId})}">
			<button type="button">編集</button>
		</a>
		
		<form th:action="@{/team2/questions/{id}/delete(id=${question.questionId})}" method="post">
			<button type="submit" onclick="return confirm('削除しますか？')">削除</button>
		</form>
	
</body>
</html>