<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" th:href="@{/team2/css/team2_header.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/team2/css/team2_main.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/team2/css/team2_questions.css}">
	<link rel="icon" type="image/png" th:href="@{/team2/img/team2_favicon.png}">
	<title>Study Log - 問題詳細画面</title>
</head>
<body>
	<header th:replace="~{team2/kyoutu/team2_header :: header}"></header>
	<div class="page-wrapper">
		<div class="page-header">
			<h1 class="page-title" th:text="問題詳細画面"></h1>
			<a class="back-link" th:href="@{/team2/questions}" th:text="'← 戻る'"></a>
		</div>
		
		<div class="content-card">
			<table class="question-detail-table">
				<tr>
					<th>作成者</th>
					<td th:text="${team2Questions.user.userName}"></td>
				</tr>
				
				<tr>
					<th>作成日</th>
					<td th:text="${#temporals.format(team2Questions.createdAt, 'yyyy年MM月dd日')}"></td>
				</tr>
				
				<tr>
					<th>分野</th>
					<td th:text="${team2Questions.field.fieldName}"></td>
				</tr>
				
				<tr>
					<th>学習名</th>
					<td th:text="${team2Questions.studyName}"></td>
				</tr>
				
				<tr>
					<th>問題形式</th>
					<td th:text="${team2Questions.questionType}"></td>
				</tr>
				
				<tr>
					<th>問題文</th>
					<td th:text="${team2Questions.questionText}"></td>
				</tr>
				
				<tr th:if="${team2Questions.questionType == '選択式'}">
					<th>選択肢A</th>
					<td th:text="${team2Questions.choiceA}"></td>
				</tr>
				
				<tr th:if="${team2Questions.questionType == '選択式'}">
					<th>選択肢B</th>
					<td th:text="${team2Questions.choiceB}"></td>
				</tr>
				
				<tr th:if="${team2Questions.questionType == '選択式'}">
					<th>選択肢C</th>
					<td th:text="${team2Questions.choiceC}"></td>
				</tr>
				
				<tr th:if="${team2Questions.questionType == '選択式'}">
					<th>選択肢D</th>
					<td th:text="${team2Questions.choiceD}"></td>
				</tr>
				
				<tr>
					<th>解答</th>
					<td th:text="${team2Questions.correctAnswer}"></td>
				</tr>
				
				<tr>
					<th>解説</th>
					<td th:text="${team2Questions.explanation}"></td>
				</tr>
			</table>
		</div>
		
		<div class="button-area" th:if="${session.userId == team2Questions.userId}">
			<a th:href="@{/team2/questions/{id}/edit(id=${team2Questions.questionId})}">
				<button type="button">編集</button>
			</a>
		
				<form th:action="@{/team2/questions/{id}/delete(id=${team2Questions.questionId})}" method="post">
					<button type="submit" class="delete-button" onclick="return confirm('削除しますか？')">削除</button>
				</form>
	
		</div>	
	</div>
	
</body>
</html>